<style>
	body{text-align:center} 
	img{
		max-width:500px;
	}
	div{
		margin:20px 0;
	}
	.hr{
		border:1px solid #152969;
		margin: 0 auto;
		width:60%;
	}
</style>
<center><h1 style='margin:0 auto'>centos安装流程</h1></center>
<div><h3>first</h3></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/1.png' /></div>

<div class='hr'></div>

<div><h3>skip</h3></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/2.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/3.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/4.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/5.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/6.png' /></div>
<div><h3>yes</h3></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/7.png' /></div>
<div><h3>next</h3></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/8.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/9.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/10.png' /></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/11.png' /></div>
<div><h3>write</h3></div>
<div class='hr'></div>
<div><img src='{{__PUBLIC__}}/Public/img/centos/12.png' /></div>
<div><h3>end</h3></div>