<link rel="stylesheet" href={{asset.asset('plugins/layui/css/layui.css')}}>
{% include "header.html" %}
{% include "layout_top.html" %}
{% include "nav.html" %}
<style>
    a{
        cursor: pointer;
    }
</style>
<script src="{{__PUBLIC__}}/Public/js/vendor/jquery-1.11.2.min.js"></script>


<link rel="stylesheet" href={{asset.css('list.css')}}>


<body>

<div class="meny" >
    <h2>Thunder manual</h2>
    <ul id="left-nav" >
        <left-nav v-for="(item,index) in nav_list"
                  :nav="item"
                  :index="index"
                  :key="item.id"
                  @click.native="go(item.id)"
        ></left-nav>
    </ul>
</div>

<div  class="meny-arrow"></div>
<div id="display">
    <con-display v-if="display==1"></con-display>
</div>


<div  class="contents">
    <article  id="contents" >
        <content-title :title="title" ></content-title>
        <content-content   v-html="content"  ></content-content>
        <small>
            Created by leileida.
        </small>
    </article>

</div>

<script src={{asset.js('meny.js')}}></script>
<script src="{{asset.asset('plugins/layui/layui.js')}}"></script>
<script>
    // Create an instance of Meny
    var meny = Meny.create({
        // The element that will be animated in from off screen
        menuElement: document.querySelector( '.meny' ),

        // The contents that gets pushed aside while Meny is active
        contentsElement: document.querySelector( '.contents' ),

        // [optional] The alignment of the menu (top/right/bottom/left)
        position: Meny.getQuery().p || 'left',

        // [optional] The height of the menu (when using top/bottom position)
        height: 200,

        // [optional] The width of the menu (when using left/right position)
        width: 260,

        // [optional] Distance from mouse (in pixels) when menu should open
        threshold: 40,

        // [optional] Use mouse movement to automatically open/close
        mouse: true,

        // [optional] Use touch swipe events to open/close
        touch: true
    });

    // API Methods:
    // meny.open();
    // meny.close();
    // meny.isOpen();

    // Events:
    // meny.addEventListener( 'open', function(){ console.log( 'open' ); } );
    // meny.addEventListener( 'close', function(){ console.log( 'close' ); } );

    // Embed an iframe if a URL is passed in
    if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
        var contents = document.querySelector( '.contents' );
        contents.style.padding = '0px';
        contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
    }
    Vue.component('left-nav',{
        props:['nav'],
        template:'<li><a>{nav.title}</a></li>',
        delimiters:['{', '}']
    })
    var leftNav = new Vue({
        el:"#left-nav",
        data:{
            nav_list:''
        },
        methods:{
            go:function (id) {
                if(id == content.id) return false;
                dis.display = 1;
                    $.ajax({
                    url:'./home/index/get_manual',
                    type:'post',
                    data:{
                      id:id
                    },
                    success:function(r){
                        content.id = r.id;
                        content.title = r.title;
                        content.content = r.content;
                        dis.display = 0;
                        document.getElementById("contents").scrollIntoView();
                    }
                })

            }
        }

    })

    Vue.component('content-title',{
        props:['title'],
        template:'<h1>{title}</h1>',
        delimiters:['{', '}']
    })
    Vue.component('content-content',{
        props:['content'],
        template:'<article>{content}</article>',
        delimiters:['{', '}']
    })



    var content = new Vue({
        el:"#contents",
        data:{
            id:'',
            title:'',
            content:''
        }
    })
    $.ajax({
        url:'./home/index/get_manual',
        type:'post',
        success:function(r){
            content.title = r.title;
            content.content = r.content;
            $.ajax({
                url:'./home/index/get_manualList',
                type:'post',
                success:function(r){
                    leftNav.nav_list = r;
                    dis.display=0;
                }
            })
        }
    })
    Vue.component('con-display',{
        template:'<div style="position:fixed;width:100%;height:100%;z-index: 1;background-color: rgb(0, 0, 0);opacity: 0.3;" ><img style="position:relative;top:40%;left: 48%" src="{{__PUBLIC__}}\\Admin\\plugins\\layui\\css\\modules\\layer\\default\\loading-2.gif"/></div>'
    })
    var dis = new Vue({
        el:'#display',
        data:{
            display:'1'
        }
    })

</script>