<!DOCTYPE html>
<script src="{{__PUBLIC__}}/Public/js/vendor/jquery-1.11.2.min.js"></script>

<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试</title>
    {% include "header.html" %}
</head>
<body>
<button onclick="change()">点击更改显示的路由组件</button>
<div id="app">
    {% autoescape false %}
    <p>{{b}}
    {% endautoescape %}
        {{ asset.route('goapi') }}<br/>
        {{ asset.css('1.css') }}<br/>
        {{ asset.js('2.js') }}
        {% verbatim %}
        {{ message }}
        {% endverbatim %}
        <br>
        {#
        {%for student in students%}
        {{student.name}}
        <br>
        {% endfor %}
        #}
    </p>
</div>
<div id="contents" >
    <content-title :title="title" ></content-title>
    <content-content  :content="content"  ></content-content>
    <small>
        Created by hakim.se
    </small>
</div>
<script>


Vue.component('content-title',{
    props:['title'],
    template:'<h1>{title}</h1>',
    delimiters:['{', '}']
})
Vue.component('content-content',{
    props:['content'],
    template:'<article>{content}</article>',
    delimiters:['{', '}']
})


var content = new Vue({
    el:"#contents",
    data:{
        title:'',
        content:''
    }
})
$.ajax({
    url:'/home/index/get_manual',
    type:'post',
    success:function(r){
        content.title = r.title;
        content.content = r.content;
    }
})
</script>
</body>
</html>